*{
	padding: 0px;
	margin: 0px;
}



.gray {
	color: gray;
}





th {
	background-color: #000000;
	color: white;
}

tfoot {
	background-color: gray;
}

table,
td,
tr,
th {
	border: 1px black solid;
	border-collapse: collapse;
	border-color: gray;
}

table {
	width: 100%;
}



.left {
	width: 40%;
	text-align: right;
	float: left;
	line-height: 2em;
	margin-right: 10px;
}
.right {
	width: 40%;
	float: left;
	line-height: 2em;
}

.img img {
	width: 99px;
	height: 81px;
	margin-bottom: 10px;
	margin-top: 15px;
}

.img div {
	float: left;
	border: 1px solid #999;
	width: 124px;
	height: 124px;
	text-align: center;
	margin:10px;
}
footer{
	background-color:#000000;
	text-align: center;
	color: white;
	height: 69px;
	line-height: 69px;
}
.main,nav,.img:after {
	content: "";
	display: table;
	clear: both;
}
header ul{
	list-style: none;
}
nav ul{
	margin-right: 20px;
}
nav li{
	
	float: right;
	margin-left: 20px;
}
nav a{
	text-decoration: none;
	color: white;
}
nav a:visited{
	color: #8a8e8f;
}
nav h1{
	float: left;
	color: white;
	margin-left: 40px;
}
nav{
	background-color: #333;
}
nav{
	width:100%;
	height: 60px;
	line-height: 60px;
}
.main{
	background-color: #dedede;
	padding: 20px;
	width: 100%;
}

header,form{
	border-top: solid 1px gainsboro;
	border-top: solid 1px gainsboro;
	border-right: solid 2px gainsboro;
	border-bottom: solid 2px gainsboro;
	padding: 20px 15px;
	background-color: white;
}
header{
	margin-top:20px;
}
.top{
	margin-top: 0px;
}
#left{
	float: left;
	width: 856px;
}
form{
	/*position: absolute;*/
	width: 365px;
	height: 500px;
	/*top: 21px;
	left: 896px;*/
	border: 1px solid red;
	float: left;
	margin-left: 20px;
}
#button{
	width: 321px;
	background-color: cornflowerblue;
	border-radius: 10px;
	margin-left:22px;
}




textarea {
	width: 209px;
}


